* {
  margin: 0;
  padding: 0;
}

.App {
  width: 80%;
  margin: auto;
  text-align: center;
  line-height: 1.75;
  color: white;
  padding: 25px;
  min-height: 100vh;
  font-family: 'Lato';
  font-weight: 500;
}

.title {
  font-size: 45px;
}

button {
  margin: 3px;
  padding: 20px 50px;
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 16px;
  text-transform: uppercase;
}

li {
  margin: 10px auto;
  height: 80px;
  line-height: 80px;
  list-style: none;
  border: 1px solid #ccc;
  cursor: pointer;
  text-align: left;
  padding: 10px 55px;
  font-size: 22px;
  font-weight: 400;
}

.content {
  text-align: left;
  font-size: 20px;
  font-weight: 400;
  background: rgba(38, 27, 49, 0.9);
  padding: 25px;
}

.country {
  margin: 25px auto;
  border: 1px solid #ccc;
  text-align: left;
  padding: 20px 50px;
  font-size: 22px;
  font-weight: 300;
}

.country:hover {
  box-shadow: 0px 0px 5px 3px rgb(0, 0, 0, 0.3);
  border: none;
  transform: scale(1.015);
  -webkit-transition: all 0.3s ease-in;

}

.country__name {
  font-weight: 500;
  letter-spacing: 2.5px;

}

.flag {
  display: block;
  margin: 15px 0;
  max-width: 15%;
  max-height: 15%;
  min-width: 15%;
  min-height: 15%;
  border-radius: 3px;
  box-shadow: 0px 0px 5px 3px rgb(0, 0, 0, 0.3);
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.fa-lightbulb {
  font-size: 52px;
  cursor: pointer;
  color: yellow;
}

.night {
  background-color: #181818;
  color: white;
}